<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Joystick1._1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Joystick1._1.Properties.Settings>
            <setting name="Button_1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Button_2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Button_3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Button_4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LS" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RS" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="LT" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="RT" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Select_Button" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Start_Button" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DataRangeStarts" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataRangeEnds" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>1</value>
            </setting>
        </Joystick1._1.Properties.Settings>
    </userSettings>
</configuration>